


<mat-form-field appearance="fill">
  <mat-label>Country/Jurisdiction</mat-label>
  <mat-select
    [formControl]="countryFormControl"
    [(value)]="selectedCountries"
    (selectionChange)="onCountryChange($event)"
    multiple>
    <mat-select-trigger>
      {{countryFormControl.value?.[0] || ''}}
      <span *ngIf="(countryFormControl.value?.length || 0) > 1" class="example-additional-selection">
        (+{{(countryFormControl.value?.length || 0) - 1}} {{countryFormControl.value?.length === 2 ? 'other' : 'others'}})
      </span>
    </mat-select-trigger>
    <mat-option *ngFor="let country of countries" [value]="country?.id">{{country?.name}}</mat-option>
  </mat-select>
</mat-form-field>


<mat-chip-listbox aria-label="Fish selection">
  <mat-chip-option *ngFor="let chip of chips" selected="selected" color="primary">{{chip?.name}}</mat-chip-option>
</mat-chip-listbox>

<h2>Results</h2>

<mat-list role="list">
  <mat-list-item *ngFor="let r of searchResults" role="listitem">{{r?.title}}</mat-list-item>
</mat-list>
